<app-color-change></app-color-change>
<hr>
<app-toggle-button></app-toggle-button>
<hr>
<app-colorchangediv></app-colorchangediv>
<hr>
<app-color-change-button></app-color-change-button>
<hr>
<app-light-on-off></app-light-on-off>
<hr>
<app-add-image></app-add-image>
<hr>
<app-image-rotation></app-image-rotation>
<hr>
<app-like-dislike></app-like-dislike>
<hr>
<app-add-student></app-add-student>
<hr>
<app-add-card></app-add-card>
<hr>
<app-add-student-with-delete></app-add-student-with-delete>
<hr>
<app-crud></app-crud>
<hr>
<app-fruit-card></app-fruit-card>